@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*, 
*::before,
*::after{
    box-sizing: border-box;
}
:root{
    --background-color : hsl(185, 75%, 39%);
    --heading-color: hsl(229, 23%, 23%);
    --sub-heading-color: hsl(227, 10%, 46%);
    --spacing-color: hsl(0, 0%, 59%);
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-size: 18px;
    background: var(--background-color);
}
p{
    margin: 0;
    color: var(--heading-color);
}
span{
    color: var(--sub-heading-color);
}
img{
    max-width: 100%;
}
hr {
    border: 0.1px solid var(--spacing-color);
    width: 100%;
}
.card {
    width: 18.5em;
    background: white;
    border-radius: .5em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.details {
    position: relative;
    margin-bottom: 0.7em;
}
.profile-image {
    position: absolute;
    border-radius: 50%;
    left: 33%;
    top: -2.5em;
    border: 0.3em solid white;
}
.detail {
    margin: 4.5em 0 0 0;
    text-align: center;
    line-height: 1.5;
    font-weight: 700;
    span{
        font-weight: 400;
    }
    .address{
        display: block;
        font-size: 13px;
    }
}
.stats-info{
    flex-direction: column;
    columns: 3;
    gap: 1em;
    .stats {
        padding: 1.5em;
        text-align: center;
        line-height: 1.5;
        font-weight: 700;
        span{
            display: block;
            font-weight: 400;
            font-size: 13px;
        }
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }